
/* Your CSS Code here. */

.holder
{
	display:grid;
	grid-template-rows:repeat(2,100px);
	grid-template-columns:repeat(2,100px);
}

.item{
	height:100px;
	width:100px;
	margin:10px;	
}

.item-1
{
	background-color:red;
}
.item-2
{
	background-color:magenta;
}
.item-3
{
	background-color:yellow;
}
.item-4
{
	background-color:green;
}